<div class="mt-4">
    <h2>Đăng khóa học</h2>

    <form method="POST" action="/courses/store">
        <div class=" form-group">
            <label for="name">Tên Khóa Học</label>
            <input type="text" name="name" class="form-control" id="name" class="name">
        </div>
        <div class="form-group">
            <label for="description">Mô tả khóa học</label>
            <input type="text" name="description" class="form-control" id="description" class="description">
        </div>
        <div class="form-group">
            <label for="videoID">Id video khóa học</label>
            <input type="text" name="videoID" class="form-control" id="videoID" class="videoID">
        </div>
        <div class="form-group">
            <label for="level">Trình độ khóa học</label>
            <input type="text" name="level" class="form-control" id="level" class="level">
        </div>

        <button type="submit" class="btn btn-primary">Thêm Khóa học</button>
    </form>
</div>