<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>Hoc Ngay</button>
            <ul>
                <li>{{BlogNode.level}}</li>
            </ul>
        </div>
        <div class="col-lg-9">
            <h2>{{BlogNode.name}}</h2>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{BlogNode.videoID}}"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; " allowfullscreen></iframe>

            <p>{{BlogNode.description}}</p>
        </div>
    </div>
</div>