<div class="mt-4">

    <h2>YENOAER</h2>


    <form method="POST" action="">

        <div class=" form-group">
            <label for="search-input">Nhap thong tin can tim</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Search">
        </div>


        <button type="submit" class="btn btn-primary">SEARCH</button>
    </form>
</div>